.term {
	font-family: monospace;;
	font-size: 12px;
	color: #7FFF00;
	background: black;
}

.termReverse {
	color: #111111;
	background: #7FFF00;
}

.title-image{
	height: 300px;
	margin-left: 25%;
}

.rules {
	float: right;
}

#canvas {
	background-color: blue;
}


.first-level{
	left: 0px !important;
  top: 0px !important;
  visibility: visible;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  border: none;
}

.second-level{
	margin-top: 370px;
	margin-left: 10%;
	position: absolute;
}

.full{
	max-height: 1500px;
}
.hidden{
	max-height: 0px !important;
	visibility: hidden !important!;
}
